language: scala

scala:
  - 2.11.8

jdk:
  - openjdk8

cache:
  directories:
  - $HOME/.ivy2
  - $HOME/.m2
  - $HOME/.sbt

before_cache:
  # Cleanup the cached directories to avoid unnecessary cache updates, cf https://www.scala-sbt.org/1.x/docs/Travis-CI-with-sbt.html
  - rm -fv $HOME/.ivy2/.sbt.ivy.lock
  - find $HOME/.ivy2/cache -name "ivydata-*.properties" -print -delete
  - find $HOME/.sbt        -name "*.lock"               -print -delete

branches:
  only:
  - master
  - develop